{% extends "base.html" %}

{% block title%}Tentang{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container" id="bread-crumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tentang</li>
    </ol>
  </nav>  
</div>

<!-- collections list page test placeholder -->
<section class="awesome-dashboard-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center" style="font-weight: 350;">{{ title }}</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-justify">{{ description }} <br/>
              <span class="highlight-text"></span></p>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
