{% extends "base.html" %}

{% block title%}Ajudikasi Data{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container" id="bread-crumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ajudikasi Data</li>
    </ol>
  </nav>  
</div>

<!-- Ajudikasi Data Title -->
<section class="news-section">
  <div class="container" id="news-container">
    <div class="main-title-box text-center">
      <div class="small-title">Ajudikasi Data</div>
      <h2 class="big-title">Satu Data Indonesia</h2> 
    </div>
  </div>
   
      
  
</section>
{% endblock %}
