{% extends "base.html" %}

{% block title%}Analisa Data{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container" id="bread-crumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Analisa Data</li>
    </ol>
  </nav>  
</div>

<!-- Analisa Data Title -->
<section class="news-section">
  <div class="container" id="news-container">
    <div class="main-title-box text-center">
      <div class="small-title">Analisa Data</div>
      <h2 class="big-title">Satu Data Indonesia</h2> 
    </div>
  </div>
</section>

<main>
  <div class="container" id="container-analisa">
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
    <div class="col-4">
      <h2>1. Penanganan Covid-19</h2>
    </div>
  </div>
</main>

{% endblock %}
