<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title%}{{title}}{% endblock %}
    </title>
    <meta name="author" content="Datopian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="img/ico" href="/static/img/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% if dataset %}
      <link rel="stylesheet" media="screen" href="https://rawcdn.githack.com/datopian/datapackage-views-js/681e1ff21a0daee03e8e81ad0ddc7c8bf682aee9/dist/css/main.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    {% endif %}
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/satudata.css"> 
    <link rel="stylesheet" media="screen" href="/static/stylesheets/app.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script id="ga-gtag" async></script>

    <script>
        document.getElementById("ga-gtag").src = "https://www.googletagmanager.com/gtag/js?id=G-426TN2RPVL";
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-426TN2RPVL');
    </script>
  </head>
  <body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">
    <!-- Page header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="inner_container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/static/img/Logo Satu Data Indonesia.png" style="height: 50px; padding-top: 5px;"></a>
          </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Beranda</a>
              </li>
              <li>
                <a href="/search">Pencarian</a>
              </li>
              <li>
                <a href="/data">Dataset</a>
              </li>
              <li>
                <a href="/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/cms/berita/">Berita</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Layanan
                </a>
                <ul class="dropdown-content" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/bimtek">Bimbingan Teknis</a></li>
                  <li><a class="dropdown-item" href="/analisa">Analisa Data</a></li>
                  <li><a class="dropdown-item" href="/ajudikasi">Ajudikasi Data</a></li>
                  <li><a class="dropdown-item" href="/permintaan">Permintaan Data</a></li>
                  <li><a class="dropdown-item" href="/komunitas">Komunitas Ahli</a></li>
                  <li><a class="dropdown-item" href="/kanal">Kanal Luar</a></li>
                </ul>
              </li> -->
              <li>
                <a href="/about">Tentang</a>
              </li>
              <!-- <li>
                <a href="/login">Login</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div> 

    <!-- Alert messages -->
    {% if message.length > 0 %}
    <div class="container">
      <div class="inner_container">
        <div class="alert alert-danger" role="alert">{{ message | safe }}</div>
      </div>
    </div>
    {% endif %}
    <!-- End of Alert messages -->

    {% block content %}{{content}}{% endblock %}

    <!-- Footer -->
    {% block footer %}
        <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6></h6>
            <p class="text-justify">Sekretariat Satu Data Indonesia</p>
            <p class="text-justify">Jalan Taman Suropati No.2 Jakarta 10310</p>
            <p class="text-justify">Telp. 021-31936207 Fax 021-3145374</p>
            <a href="https://www.bappenas.go.id" target="_blank"><img src="https://www.bappenas.go.id/themes/bappenas_newlogo/img/logo_color.png"></a><br/>
          </div>

          
          <div class="col-xs-6 col-md-3">
            <h6>LAYANAN</h6>
            <ul class="footer-links">
              <li><a href="/unduhan">Unduhan</a></li>
              <li><a href="/">Permintaan Data</a></li>
              <li><a href="https://docs.ckan.org/en/2.9" target="_blank">Developer</a></li>
              <li><a href="/">FAQ</a></li>
              <li><a href="https://satudata.go.id/data/organization/">Walidata Terhubung</a></li>
            </ul>
          </div>
        
          <div class="col-xs-6 col-md-3">
            <h6>LINKS</h6>
            <ul class="footer-links">
              <li><a href="mailto:sekretariat-sdi@bappenas.go.id">Kontak Kami</a></li>
              <li><a href="https://data.go.id/openproject/">OpenProject SDI</a></li>
              <li><a href="https://gitter.im/ckan/chat" target="_blank">Chat</a></li>
              <li><a href="https://satudata.go.id/data/user/login">Login</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021
         <a href="https://www.bappenas.go.id" target="_blank">Kementerian PPN/Bappenas</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <a class="instagram" href="https://www.instagram.com/data.go.id" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="twitter" href="https://twitter.com/datagoid" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="youtube" href="https://www.youtube.com/channel/UCTeFgXSoFZH3AkjK2b22X_w" target="_blank"><i class="fab fa-youtube"></i></a>   
            </ul>
          </div>
        </div>
      </div>
</footer>
    {% endblock %}
    <!-- end of footer -->

    {% block scripts %}{% endblock %}
  </body>
</html>
