{% extends "base.html" %}

{% block title %}
Beranda | Satu Data Indonesia
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}
<div class="container">
<div class="rowss text-center"></div>
<section class="featured">
    <div class="dgu-top-non-content">
        <div class="dgu-top-non-content__inner">
            <div id="dgu-phase-banner" class="phase-banner">
                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>Situs ini dalam masa pengembangan – mohon untuk mengisi form <a class="govuk-link" href="https://forms.gle/BYaygUWuZDD89PgZ9">feedback</a> untuk pengembangan portal yang lebih baik
                     </span>
                </p>
            </div>
        </div>
    </div>
</section>
</div>
</div>


<!-- Jumbotron main -->
<div class="rowss">
  <section class="featured_banner">
      <div class="container featured-pad">
          <div class="row">
              <div class="col-md-7">
              <h1>Data Indonesia <br>Dalam Satu Portal</h1>
              <p>Temukan data Pemerintah dengan mudah!</p>
                <form method="GET" action="/search">
                    <input type="hidden" name="_token" value="UYIoqUpiy5mNAXCwrZAMmkGmoICmTkac9Zvf0xKh">	    
                        <div id="custom-search-input">
                        <div class="input-group">
                    <input type="text" class="form-control form-control-lg" name="q" placeholder="Masukan kata kunci pencarian">
                        <span class="input-group-btn">
                        <button class="btn btn-lg" type="submit">
                    <i class="fas fa-search"></i>
                        </button>
                      </span>
                  </div>
              </div>
              </form>
              </div>
              <div class="col-md-5"></div>
          </div>
      </div>
  </section>
</div>
  
{% endblock %}
