{% extends "base.html" %}

{% block title %}
Beranda | Satu Data Indonesia
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block content %}

<div class="rowss text-center"></div>
<section class="featured" style="background-image: url('/static/img/hero.png') !important;">
    <div class="dgu-top-non-content">
        <div class="dgu-top-non-content__inner">
            <div id="dgu-phase-banner" class="phase-banner">
                <p style="background-color: black; padding: 2px 0px 2px 0px;">
                    <strong class="phase-tag" style="font-size: 23px; color: #fff; padding: 0px 15px 0px 0px;">BETA</strong>
                    <span style="color: #fff;">Situs ini dalam masa pengembangan – mohon untuk mengisi form <a class="govuk-link" style="color: #ffff00;" href="https://forms.gle/BYaygUWuZDD89PgZ9">feedback</a> untuk pengembangan portal yang lebih baik
                     </span>
                </p>
            </div>
        </div>
    </div>
</section>
</div>

<!-- Jumbotron main -->
<div class="container">
  <div class="inner_container home-banner">
    <div class="jumbotron jumbotron-primary">
      <div class="row demo">

                <div class="col-md-6">
            <div class="left-sec">
                <h1>Data Indonesia <br> Dalam <span>Satu</span> Portal</h1>
                <p>Temukan data Pemerintah dengan mudah!</p>

                <!-- Search -->
                <section class="similar-search hidden-xs hidden-sm">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- searchbox -->
                            <form class="search-form form form-inline" class="input-group col-xs-12" action="/search" method="GET">
                            <div class="col-sm-8 pad-none">
                                <input type="text" class="form-control input-lg" placeholder="Search ..." name="q" required />
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" type="submit">Search Datasets</button>
                            </div>

                            </form>
                            <!-- search box ended -->
                        </div>
                    </div>
                </section>
                <!-- end of search -->


                <a class="btn btn-primary btn-orange visible-xs visible-sm" href="/search">Search Free Datasets</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End of jumbotron main -->

{% endblock %}
