{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}blog static{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container" style="margin-top: 20px;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="/news">Berita</a></li>
    </ol>
  </nav>  
</div>

<!-- blog post page test placeholder -->
<div role="main">
  <div class="hero-banner" style="background-image: url('/public/img/hero.png');">
  <div class="container">
    <div class="inner_container">
      <div class="page-header text-center">
        <h1>
          {{title}}
        </h1>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{content | safe}}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
