{% extends "base.html" %}

{% block title%}Unduhan{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container" id="bread-crumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Unduhan</li>
    </ol>
  </nav>  
</div>

<!-- Dashboard Title -->
<section class="news-section">
  <div class="container">
    <div class="main-title-box text-center">
      <div class="small-title">Unduhan</div>
      <h2 class="big-title">Publikasi Dokumen</h2> 
    </div>
   
      
    <section class="core-datasets" id="core-datasets">
      <div class="container"> 
        <div class="container" style="padding: 0px;">
        <div class="row">


<!-- Dashboard Section -->
        <div class="card card-2">
          <h2>Buletin SDI Edisi II April-Juni 2021</h2>
            <span class="filename">Buletin Satu Data Indonesia Edisi II.pdf</span>
            <h2 class="changelog_title">Buletin Satu Data Indonesia Edisi II April-Juni 2021</h2>
              <div class="changelog">
                <ul>
                  <li>Diunggah: 02 Juli 2021</li>
                </ul>
              </div>
            <a href="https://drive.bappenas.go.id/owncloud/index.php/s/5iCDNox2vLh9yZ0" target="_blank" class="btn">Download</a>
        </div>

        <div class="card card-2">
          <h2>Buletin SDI Edisi I Januari-Maret 2021</h2>
            <span class="filename">Buletin Satu Data Indonesia Edisi I.pdf</span>
            <h2 class="changelog_title">Buletin Satu Data Indonesia Edisi I Januari-Maret 2021</h2>
              <div class="changelog">
                <ul>
                  <li>Diunggah: 04 April 2021</li>
                </ul>
              </div>
            <a href="https://drive.bappenas.go.id/owncloud/index.php/s/ZDBG7gA4MpHzbhn" target="_blank" class="btn">Download</a>
        </div>

        <div class="card card-2">
          <h2>Booklet SDI Cetakan 1 Januari 2021</h2>
            <span class="filename">Booklet Satu Data Indonesia_Cetakan 1_Jan 2021.pdf</span>
            <h2 class="changelog_title">Booklet Satu Data Indonesia Cetakan 1 Januari 2021</h2>
              <div class="changelog">
                <ul>
                  <li>Diunggah: 20 Februari 2021</li>
                </ul>
              </div>
            <a href="https://drive.bappenas.go.id/owncloud/index.php/s/nRh2Wq1H9iEQpaC" target="_blank" class="btn">Download</a>
        </div>

        <div class="card card-2">
          <h2>Peraturan Menteri PPN/Kepala Bappenas No. 16 Tahun 2020</h2>
            <span class="filename">SALINAN_PERMEN_16_TAHUN_2020_distribusi_1_ver3_2021.pdf</span>
            <h2 class="changelog_title">Peraturan Menteri PPN/Kepala Bappenas No. 16 Tahun 2020 Tentang Manajemen Data SPBE</h2>
              <div class="changelog">
                <ul>
                  <li>Diunggah: 20 Juni 2021</li>
                </ul>
              </div>
            <a href="https://drive.bappenas.go.id/owncloud/index.php/s/FUfsN9Fe7DxplC2" target="_blank" class="btn">Download</a>
        </div>

        <div class="card card-2">
          <h2>Peraturan Presiden No. 39 Tahun 2019</h2>
            <span class="filename">Perpres_Nomor_39_Tahun_2019.pdf</span>
            <h2 class="changelog_title">Peraturan Presiden No. 39 Tahun 2019 Tentang Satu Data Indonesia</h2>
              <div class="changelog">
                <ul>
                  <li>Diunggah: 20 Mei 2021</li>
                </ul>
              </div>
            <a href="https://drive.bappenas.go.id/owncloud/index.php/s/T6jIaoqcISkSBMF" target="_blank" class="btn">Download</a>
        </div>
         
        </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock %}
